*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main{
    position: relative;
    width: 100vw;
}
.main>img{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    z-index:-1;
}

.navbar{
    padding-top: 1rem;
    top: 0%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
}

.nav-logo1{
    width: 80%;
}
.nav-logo1> a>img{
    width: 10rem;
}

.nav-logo2{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.language-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
    width: 7rem;
    background-color: rgba(0, 0, 0, 0.705);
    border: 1px solid white;
    border-radius: 4px;
}
.language-btn> select{
    border: none;
    background-color: transparent;
    color: white;
}

.sign-btn>button{
    background-color: red;
    color: white;
    border: none;
    width: 4.5rem;
    height: 2rem;
    border-radius: 4px;
}

.sign-btn>button>a{
    text-decoration: none;
    color: white;
}

.main-content{
    font-family: sans-serif;
    color:white;
    position: absolute;
    top: 40%;
    left: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content>h1{
    font-size: 8vmin;
    font-weight: 900;
}
.main-content>.content-1{
    font-size: 4vmin;
    margin: 16px 0px 16px;
}
.main-content>.content-2{
    font-size: 3.5vmin;
    margin: 0px 0px 16px;
}

.search-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.search-box>input{
    background-color: rgba(0, 0, 0, 0.705);
    height: 3rem;
    width: 23rem;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.23);
    border: 1px solid white;
    font-size: .9rem;
    padding-left: 4%;
}

.start-btn>button{
    height: 3rem;
    background-color: red;
    border: none;
    width: 11rem;
    border-radius: 4px;
}
.start-btn>button>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

.separator{
    height: 8px;
    width: 100%;
    background-color: rgb(33, 33, 33);
}

.section-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #ffffff;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.content-part>h1{
    font-size: 8vmin;
    margin-bottom: 1rem;
}
.content-part>p{
    font-size: 4vmin;
}
.img-part>img{
    height: 350px;
}

.section2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #ffffff;
    padding-right: 8rem;
}

.section2-img-part>img{
    width: 46vmax;
}

.section2-img-part>.box{
    border: 2px solid rgba(150, 150, 150, 0.66);
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    left: 10%;
    bottom: 18%;
    width: 30vw;
    background-color: #000000;
    display: flex;
    padding: 10px;
}

.section2-img-part>.box>img{
    width: 3rem;
    height: 4rem;
}
.box>.text-part>.downloading{
    color: rgb(0, 136, 255);
    font-size: .8rem;
}

.section2-content-part>h1{
    font-size: 8vmin;
    font-weight: 900;
    margin-bottom: 1.2rem;
}
.section2-content-part>p{
    font-size: 1.3rem;
}

.section3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #ffffff;
    /* padding-right: 8rem; */
}

.section3-content-part>h1{
    font-size: 8vmin;
    font-weight: 900;
    margin-bottom: 1rem;
}
.section3-content-part>p{
    letter-spacing: 1;
    font-size: 1.3rem;
}

.section3-img-part>img{
    width: 45vw;
}

.section4{
    display: flex;
    height: 30rem;
    width: 100%;
    background-color: #000000;
    font-family: sans-serif;
    align-items: center;
    padding: 40px;
}

.section4-img-part>img{
    width: 80%;
}

.section4-content-part{
    position: relative;
    right: 7rem;
    color: #ffffff;
}
.section4-content-part>h1{
    font-size: 8vmin;
    font-weight: 900;
    margin-bottom: 1rem;
}

.section4-content-part>p{
    font-size: 1.3rem;
}

.questions{
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    padding-bottom: 3.5rem;
}
.questions>h1{
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 8vmin;
    font-weight: 900;
    background-color: transparent;
}
.questions>.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 5rem;
    background-color: #67636378;
    margin-bottom: .5rem;
    padding: 1.5rem;
    margin-left: 2%;
}
.box:hover{
    background-color: #676363ab;
    cursor: pointer;
}
.box>i{
    background-color: transparent;
    font-size: 2rem;
}
.box>p{
    font-size: 1.5rem;
    background-color: transparent;
}

.questions>p{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

